.menu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;
    color: white;
}

.menu-item{
    display: flex;
}

.menu-item li{
    list-style: none;
    margin: 5px;
    padding: 10;
    font-size: 18px;
}